# Java build
target/
*.class

# Maven
.mvn/
!**/src/**/mvnw
!**/src/**/mvnw.cmd
pom.xml.versionsBackup
dependency-reduced-pom.xml
release.properties
buildNumber.properties

greet-proto/.idea
grpc-client/.idea
grpc-client/.mvn
greet-proto/.idea/
grpc-client/.idea/
grpc-client/.mvn/
grpc-client/HELP.md
grpc-client/mvnw.cmd
grpc-client/mvnw
grpc-server/.idea/
grpc-server/.mvn/
grpc-server/HELP.md
grpc-server/mvnw.cmd
grpc-server/mvnw

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
*.log

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# gRPC / protobuf
**/generated/
**/build/
**/*.pb.go
**/*.pb.cc
**/*.pb.h
**/*.pb.c
**/*.pb.swift
**/*.pb.rb
**/*_pb2.py

# Others
*.jar
*.war
*.ear

target/
.idea/
*.iml
